body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

#pingStatusDisplay {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
}

#refreshButton, #saveButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

#refreshButton:hover, #saveButton:hover {
    background-color: #45a049;
}

#ipAddressInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 20px;
}